.wrapper {
  width: 100%;
}
.menu {
  width: 100%;
  height: 40px;
  background-color: #2b2b2b;
}
.menu-nav {
  flex-direction: row;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  column-gap: 10px;
}
.menu-item {
  width: fit-content;
  height: 100%;

  line-height: 40px;
}
.menu-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: whitesmoke;
  padding: 0 10px;
  text-align: center;
  transition: 300ms;
  &:hover {
    background-color: #4b4b4b;
  }
}

.slider {
  width: 100%;
  height: calc(100vh - 40px);
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
