.wrapper {
  width: 100%;
}
.menu {
  width: 100%;
  background-color: #2b2b2b;
}
.menu-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  column-gap: 10px;
}
.menu-item {
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.menu-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
  color: whitesmoke;
  text-align: center;
  transition: 300ms;
  &:hover {
    background-color: #4b4b4b;
  }
}

.slider {
  width: 100%;
  height: calc(100vh - 160px);
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 10px;
    flex-flow: column wrap;
}
.product{
    width: 85%;
}
.product h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
}
.product p{
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    box-orient: vertical;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    line-height: 25px;
    margin-bottom: 10px;
}
.product img{
    display: block;
    width: 80%;
    margin: 10px auto;
}
.product a{
    display: block;
    width: fit-content;
    height: 35px;
    line-height: 35px;
    color: whitesmoke;
    background-color: green;
    text-decoration: none;
    text-transform: capitalize;
    padding: 0 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    margin: 10px auto;
}
